@charset "UTF-8";
/* For some reason had to specify utf-8, or the CSS file would turn chinese in the browser */

:root{
    --main-dark: #222831;
    --main-grey: #393E46;
    --main-blue: #00ADB5;
    --main-light: #EEEEEE;
    --main-light-transparent: rgba(238, 238, 238, 0.8);  /*Light color with 20% transparency*/
    --oslomet-yellow: rgb(255, 220, 0)
}


body{
    margin: 0;
}

/* NAVIGATION */
.navbar {
    position: fixed;
    width: 100vw;
    background-color: var(--main-dark);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2; /*Ensure navbar has the highest z-index*/
}

.nav-list {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.nav-home {
margin: 0 64px 0 32px;
}

.nav-home-img {
    width: 60px;
    margin: 8px 0;
}

.nav-element {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    margin: 8px 24px;
    color: var(--oslomet-yellow);
    font-size: 16px;
    text-transform: uppercase;
 }
 body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }


 /* INDEX CONTENT */
.scroll-effect {
    position: relative; /* Ensure it's a stacking context for the absolute positioned child */
    background-image: url(../media/oslomet.jpg);
    margin-top: 0;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.index-container {
    position: absolute; /* Absolute position the container */
    top: 10rem; /* Some space between the nav-bar and the index-container */
    background-color: var(--main-light-transparent); /* Using the transparent light color */
    padding: 2rem; /* Some padding to ensure the text doesn't touch the edges of the container */
    z-index: 1; /* Places the container above the background image */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 10rem;
    margin-right: 10rem;
}
@media (max-width: 1000px){
    .index-container{
        margin-left: 7rem;
        margin-right: 7rem;
    }
}
@media (max-width: 800px){
    .index-container{
        margin-left: 5rem;
        margin-right: 5rem;
    }
}
@media (max-width: 600px){
    .index-container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.index-container h1 {
    text-align: center;
}