:root{
    --main-dark: #222831;
    --main-grey: #393E46;
    --main-blue: #00ADB5;
    --main-light: #EEEEEE;
}


/* NAVIGATION */
.navbar {
    display: flex;
    flex-direction: row;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-link {
    text-decoration: none;
}